{% extends 'base.html' %}
{% block title %}Connexion – JO France{% endblock %}

{% block content %}
  <h2>Connexion</h2>
  <form method="post">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control", placeholder="Nom d’utilisateur") }}
      {% for err in form.username.errors %}
        <div class="form-text text-danger">{{ err }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control", placeholder="Mot de passe") }}
      {% for err in form.password.errors %}
        <div class="form-text text-danger">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>

  <p class="mt-3">
    Pas encore de compte ? <a href="{{ url_for('auth.register') }}">Inscrivez-vous</a>.
  </p>
{% endblock %}