{% extends 'base.html' %}
{% block title %}Inscription – JO France{% endblock %}

{% block content %}
  <h2>Inscription</h2>
  <form method="post">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control", placeholder="Votre nom d’utilisateur") }}
      {% for err in form.username.errors %}
        <div class="form-text text-danger">{{ err }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control", placeholder="Votre email") }}
      {% for err in form.email.errors %}
        <div class="form-text text-danger">{{ err }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control", placeholder="Mot de passe") }}
      {% for err in form.password.errors %}
        <div class="form-text text-danger">{{ err }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      {{ form.password2.label(class="form-label") }}
      {{ form.password2(class="form-control", placeholder="Confirmez le mot de passe") }}
      {% for err in form.password2.errors %}
        <div class="form-text text-danger">{{ err }}</div>
      {% endfor %}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>

  <p class="mt-3">
    Déjà un compte ? <a href="{{ url_for('auth.login') }}">Connectez-vous</a>.
  </p>
{% endblock %}